#main-content{
    
    background-color: rgb(96, 156, 163);
}
.stats{
   align-items: center;
   background-color: aquamarine;
   flex-direction: row;
   display: flex;
   gap: 5rem;
}

.todos {
    margin-bottom: 4rem;
}
.todos li{
    background-color: white;
    border-radius: var(--global-border-radius);
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    display: flex;
}
.todos li div {
    display: flex;
    align-items: center;
    gap : .75rem;
}
.todos li.complete {
    background-color: var(--color-disabled);
    text-decoration: line-through;
    color: var(--color-text-disabled);
}

input [type='checkbox'] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    display: grid;
    place-content: center;
    transition: var(--global-transitioin);

}
input[type='checkbox']::before{
    content: '';
    transform: scale(0);
    transition: var(--global-transitioin);
}
input[type='checkbox']:checked{
    background-color: var(--global-text-disabled);
    border-color: var(--global-text-disabled);
}
input[type='checkbox']:checked::before{
    transform: scale(1);
}
.todos li button {
    border: 0;
    padding: .25rem;
    display: grid;
    place-content: center;
    background-color: transparent;

}
.todos li button img {
    width: 1.25rem;
    height: 1.25rem;
}
.todos li button img path {
    stroke: var(--global-transitioin);
}
.todos li button:hover img path {
    stroke: var(--color-text);
}
.todos li button:active img {
    stroke: scale(0.8);
}
.todos li span {
    padding: 2px;
    border-radius: var(--global-border-radius);
    transform: var(--global-transitioin);

}
.todos li span:focus {
    background-color: var(--color-body);
    outline: none;
    
}
.todos li span[contenteditable]:hover {
    background-color: var(--color-body);
    
    
}